.table-view .column-header-background {
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view .column-header {
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view .column-header .label {
    -fx-padding: 0;
    -fx-font-size: 0;
}

/* edit the table-cells */


.table-view .table-cell {
    -fx-border-width: 0;
}

.table-view {

    -fx-background-insets: 0;
    -fx-background-radius: 10px;

     -fx-background-color: white; /* Set the background color of the container */
        -fx-border-radius: 10px; /* Set the border radius */
        -fx-border-color:  #e6e6e6; /* Set the border color */
        -fx-border-width: 1px; /* Set the border width */

}

.table-view .table-row-cell {
    -fx-pref-height: 30px; /* Adjust the height as needed */
    -fx-font-size: 11px; /* Adjust the font size as needed */
    -fx-opacity: 0.6;
}
